/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.heading {
  color: white;
  font-family: roboto;
  font-size: 48px;
}

img {
  width: 60vw;
}

.input-box {
  width: 30vw;
  height: 3vw;
  background-color: transparent;
  border-style: solid;
  border-color: #e4e7eb;
  font-family: roboto;
  font-size: 20px;
  cursor: text;
}

.box {
  background-color: white;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
  font-family: roboto;
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
  color: #219a6f;
}

.label-text {
  color: white;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .bg-container {
    flex-direction: column;
  }

  .cal-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 2;
  }

  img {
    width: 80vw;
    margin-bottom: 30px;
  }
  .heading {
    font-size: 35px;
  }

  .input-box {
    width: 250px;
    height: 30px;
  }

  .img-sec {
    order: 1;
  }
}
